body
{
}
p {
	font-size: 20px;
}


button {
	color: red;
	height: 50px;
	width: 80px;
	text-align: center;
	font-size: 20px;
}

#feedback {
    font-size: 30px;
}

#displayP {
	background-image: url("KnightPic.png");
	background-size: cover;
	background-position: center;
	border: 5px solid black;
	margin: 20px;
	height: 300px;
	width: 300px;
}

#displayM {
	background-image: url("QMark.png");
	background-size: cover;
	background-position: center;
	border: 5px solid black;
	margin: 20px;
	height: 300px;
	width: 300px;
}

#playerstats {
    display: flex;
    border: 2px solid black;
    height: 30px;
    width: 300px;
    margin: 20px;
}

#monsterstats {
    display: flex;
    border: 2px solid black;
    height: 30px;
    width: 300px;
    margin: 20px;
}

#monsterstats p{
   margin-left: 10px;
   margin-left: 10px;
}

#playerstats p {
    margin-left: 10px;
    margin-left: 10px;
}
